// 背景
$--color-primary: #007AFF; //ant-design vue的蓝色
$--navigation-color: #2f395b; //隐藏的灰色
$--color-highlight: #0071ed; //高良的蓝色
$--color-white: #fff; // 纯净的白色
$--color-C1:#c1c1c1; // 图片底色

$--color-primary-translucent: rgba(80, 185, 221, .4);

// 按钮标志
$--color-danger: #fc3c40; //危险

$--color-success: #00c96e; //success

$--color-warning: #fcaf17; //warning

// 字体

$--color-info: #666666; //输入字体

$--font-color: #606266; //字体

$--font-D1:#D1D1D1; // D1D1D1

$--font-E2:#E2E2E2; //E2E2E2

$--font-FB:#FBFBFB; //接近白色的字体，带点灰

$--font-F5:#F5F5F5; //带一点灰的白

$--font-E8:#E8E8E8; //灰度加深

$--font-999:#999999; //用于字体
$--font-333:#333; //用于字体
$--font-888:#888; //用于字体

$--color-subtitle:#007aff // 用于小标题