$--color-primary: #0071ed;

$--navigation-color: #2f395b;
$--color-highlight: #0071ed;

$--color-primary-translucent: rgba(80, 185, 221, .4);


$--color-danger: #fc3c40;

$--color-success: #00c96e;

$--color-warning: #fcaf17;

$--color-info: #666666;

$--font-color: #606266;


