.people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 613px;
    min-height: 32px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    .plus {
        cursor: pointer;
        /* .plus-pop {
        } */
    }
    .tags-content {
        overflow-y: scroll;
        height: 384px;
        width: 168px;
    }
}
.myselftags {
    cursor: pointer;
    height: 28px;
    margin-bottom: 7px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    .anticon svg {
        background: #007aff;
    }
}
.my-tags {
    height: 28px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    .anticon svg {
        background: #007aff;
    }
}
.person-name {
    display: inline-block;
    margin-left: 8px;
    span {
        color: #007aff;
        height: 25px;
    }
}
